<header class="header">
    <a id="detailsNavMenu" class="nav-menu" href="#">menu</a>
    <h1 class="row tt1"><a id="detailsNavDownload" href="#">Télécharger</a></h1>
    <a id="detailsNavBack" class="nav-back" href="#">back</a>
</header>

<section class="txtCenter">
    <img class="iBlock vMid full" src="<%= src %>" alt="">
    <article class="content">
        <h2 class="tt2"><%= name %></h2>
        <p class="row">
            <label class="iBlock vMid">Description : </label><!--
            --><span class="iBlock vMid"><%= description %></span>
        </p>
        <p class="row">
            <label class="iBlock vMid">Auteur : </label><!--
            --><span class="iBlock vMid"><%= author %></span>
        </p>
    </article>
</section>

