<header class="header">
    <a id="galleryNavMenu" class="nav-menu" href="#">menu</a>
    <h1 class="row capitalize tt1"><%= title %></h1>
    <a id="galleryNavBack" class="nav-back" href="#">back</a>
</header>

<section>
    <ul class="list-images"></ul>
</section>