<li class="iBlock vMid size1of2 txtCenter">
    <figure>
        <a href="#"><img src="<%= src %>" alt=""></a>
        <figcaption>
            <a href="#"><span><%= title %></span></a>
        </figcaption>
    </figure>
</li>