<li class="item rel iBlock vMid size1of2 txtCenter">
    <figure>
        <a href="gallery/<%= name %>"><img class="full" src="<%= src %>" alt=""></a>
        <figcaption class="full txtCenter">
            <a href="gallery/<%= name %>"><span class="tt2"><%= title %></span></a>
        </figcaption>
    </figure>
</li>